@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Login</h1>

<!--
<div class="wrapper">
	<h1>Enter youre loggin and password!</h1>

	<div class="row">
		<div class="col-6 flex-fill">
			<div class="card">

				<div class="card-header"></div>

				<div class="card-body p-5">

					<form asp-controller="Account" asp-action="Login" method="post">
						<div class="loggin mb-3">
							<label class="form-label">loggin</label>
							<input class="form-control" asp-for="Email" type="text" />
						</div>

						<div class="password mb-3">
							<label class="form-label">password</label>
							<input class="form-control" asp-for="Password" type="password" />
						</div>

						<div class="mt-lg-4">
							<button type="submit" class="btn btn-primary">submit</button>
						</div>
					</form>
				</div>

				<div class="card-footer"></div>
			</div>
		</div>
	</div>
</div>
-->


